* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  transition: all 0.3s ease-in-out;
}

html body {
  overflow-x: hidden;
}
html body .d-container-form {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
html body .d-container-form .d-text {
  width: 40em;
}
html body .d-container-form .d-text h3 {
  font-size: 2.5em;
  width: 11em;
}
html body .d-container-form .d-text h3 span {
  color: #005bc2;
}
html body .d-container-form .d-text p {
  font-size: 1.2em;
  width: 25em;
  margin-bottom: 1em;
}
html body .d-container-form .d-text p span {
  color: #005bc2;
  font-weight: 700;
  font-size: 1.2em;
}
html body .d-container-form .d-form {
  padding: 1em;
  width: 30em;
}
html body .d-container-form .d-form input {
  display: block;
  margin-bottom: 0.8em;
  width: 100%;
  padding: 1.3em;
  background-color: inherit;
  border-radius: 1em;
}
html body .d-container-form .d-form .d-round {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1em;
}
html body .d-container-form .d-form .d-round .d-input {
  width: 100%;
}
html body .d-container-form .d-form .d-round .d-input input {
  box-shadow: 0px 0px 3px #7c7c7c;
  border: none;
  outline: none;
}
html body .d-container-form .d-form .d-round .d-input input:focus {
  background-color: #3b3b3b;
  color: white;
}
html body .d-container-form .d-form .d-round .d-input label {
  font-size: 0.9em;
  display: block;
  font-weight: 500;
  margin-bottom: 0.5em;
}
html body .d-container-form .d-form .d-round .d-input textarea {
  display: block;
  width: 80%;
  height: 7em;
  border-radius: 1em;
  margin-bottom: 0.8em;
  border: none;
  box-shadow: 0px 0px 3px #adadad;
  padding: 0.8em;
  outline: none;
}
html body .d-container-form .d-form .d-round .d-input textarea:focus {
  background-color: #3b3b3b;
  color: white;
}
html body .d-container-form .d-form .d-round:nth-child(1) input {
  width: 80%;
}
html body .d-container-form .d-form .d-round .d-input-login {
  width: 80%;
}
html body .d-container-form .d-form input[type=submit] {
  outline: none;
  width: 65%;
  border: none;
  background-color: #005bc2;
  color: white;
  cursor: pointer;
}
html body .d-container {
  height: 100vh;
  width: 100vw;
  padding-top: 4.5em;
}
html body .d-container .d-header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: white;
  padding: 0.5em;
  height: 5em;
  display: flex;
  align-items: center;
}
html body .d-container .d-header h3 {
  font-size: 1.8em;
  margin-left: 1.3em;
}
html body .d-container .d-header h3 span {
  color: #005bc2;
}
html body .d-container .d-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  padding: 3em;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
html body .d-container .d-content-details .d-details-container {
  padding: 2em;
  display: flex;
  align-items: center;
  gap: 1em;
}
html body .d-container .d-content-details .d-details-container .d-color {
  width: 20em;
  height: 15em;
  background-color: #a8d1ff;
  border-radius: 2em;
  position: relative;
}
html body .d-container .d-content-details .d-details-container .d-color a {
  text-decoration: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1em;
  left: 1em;
  padding: 0.8em;
  height: 2.5em;
  width: 4em;
  background-color: white;
  border-radius: 1em;
  box-shadow: 0px 0px 5px #a8a8a8;
}
html body .d-container .d-content-details .d-details-container .d-details-text h3 {
  font-size: 1.8em;
  width: 17em;
  margin-bottom: 0.5em;
}
html body .d-container .d-content-details .d-details-container .d-details-text p {
  width: 27em;
}
html body .d-container .d-content-details .d-details-container .d-details-text .d-badges {
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  gap: 0.8em;
}
html body .d-container .d-content-details .d-details-container .d-details-text .d-badges span {
  display: block;
  padding: 0.5em;
  font-size: 13px;
  font-weight: 600;
  border-radius: 1em;
}
html body .d-container .d-content-details .d-details-container .d-details-text .d-badges span:nth-child(1) {
  background-color: #7681ff;
  color: #00214b;
}
html body .d-container .d-content-details .d-details-container .d-details-text .d-badges span:nth-child(2) {
  background-color: #ffc876;
  color: #592801;
}
html body .d-container .d-content-details .d-details-container .d-details-text a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 0.8em;
  margin-top: 0.8em;
  background-color: #ff6e6e;
  font-size: 14px;
  text-align: center;
  border-radius: 2em;
  width: 70%;
  font-weight: 700;
  color: #311500;
}
html body .d-container .d-content-details .d-details-container .d-details-text a:hover {
  background-color: #ff4646;
  color: white;
}
html body .d-container .d-content-details .d-middle {
  padding-left: 2.5em;
  width: 95%;
}
html body .d-container .d-content-details .d-middle h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
html body .d-container .d-content-details .d-others {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  padding: 2em;
  height: 20em;
  scrollbar-width: none;
}
html body .d-container .d-content-admin {
  padding: 2.5em;
  height: 100%;
}
html body .d-container .d-content-admin .d-content-head {
  background-color: #ececec;
  padding: 0.5em;
  border-radius: 0.3em;
}
html body .d-container .d-content-admin .d-content-head h3 {
  margin-bottom: 0.1em;
  font-weight: 600;
}
html body .d-container .d-content-admin .d-content-head .d-content-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 0.8em;
}
html body .d-container .d-content-admin .d-content-head .d-content-text .d-input-chearch {
  display: flex;
  gap: 0.5em;
  align-items: center;
  margin-bottom: 0.3em;
  margin-left: 1em;
  width: 35%;
}
html body .d-container .d-content-admin .d-content-head .d-content-text .d-input-chearch select {
  border-radius: 1em;
  outline: none;
  width: 100%;
  display: block;
  padding: 0.5em;
}
html body .d-container .d-content-admin .d-content-head .d-content-text .d-input-chearch button {
  padding: 0.5em;
  display: block;
  border-radius: 1em;
  border: none;
  padding: 0.5em;
  background-color: #005bc2;
  width: 15em;
  cursor: pointer;
  color: white;
}
html body .d-container .d-content-admin .d-content-options {
  padding: 0.5em;
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  gap: 0.8em;
}
html body .d-container .d-content-admin .d-content-options a {
  padding: 2em;
  display: block;
  text-decoration: none;
  color: black;
  border: 1px solid #4b4b4b;
  text-align: center;
  border-radius: 2em;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
}
html body .d-container .d-content-admin .d-content-options a:hover {
  box-shadow: 0px 0px 5px #666666;
  border: 1px solid #ffffff;
}
html body .d-container .d-content-admin .d-content-shearch {
  padding: 0.5em;
  margin-top: 1em;
  background-color: red;
  width: 80%;
  gap: 0.8em;
}
html body .d-card-offre {
  display: block;
  padding: 0.8em;
  text-decoration: none;
  width: 19em;
  max-height: 18em;
  border-radius: 2em;
  border: 1px solid #4b4b4b;
  outline: none;
}
html body .d-card-offre .d-color {
  border-radius: 2em;
  display: block;
  background-color: #fffbb2;
  height: 10em;
  width: 100%;
}
html body .d-card-offre .d-bottom h3 {
  font-size: 1.3em;
  color: black;
  margin-top: 0.5em;
}
html body .d-card-offre .d-bottom .d-span {
  display: flex;
  align-items: center;
  margin-top: 0.3em;
  gap: 0.5em;
}
html body .d-card-offre .d-bottom .d-span span {
  display: block;
}
html body .d-card-offre .d-bottom .d-span span:nth-child(1) {
  display: none;
  border-radius: 50%;
  height: 0.7em;
  width: 0.7em;
  background-color: red;
}
html body .d-card-offre .d-bottom .d-span span:nth-child(2) {
  padding: 0.3em;
  font-weight: 500;
  color: black;
  font-size: 0.8em;
}
html body .d-card-offre:hover {
  box-shadow: 0px 0px 5px #666666;
  border: 1px solid #ffffff;
}

/*# sourceMappingURL=style.css.map */
